Manifest.toml
*.bson
*.ipynb_checkpoints
*.mem
*.swp
temps
fmm.so
*.xmf
*.h5
*.julia_history
jobscript.sh
runcase.jl
*.log
*.case

# local tooling/system
.DS_Store
.CondaPkg/
profile.pb.gz
CLAUDE.local.md
